body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
/*=======================
Header Section start
=======================*/
h1 {
  font-size: 45px;
}
.colorful-text {
  color: coral;
}
section header {
  display: flex;
}
.header-left {
  width: 50%;
  padding-left: 5%;
  margin-top: 3%;
}
.header-right {
  width: 50%;
  padding-left: 10%;
}
.header-right img {
  width: 90%;
}
.btn-hire {
  text-decoration: none;
  background-image: linear-gradient(coral, tomato);
  padding: 10px 40px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.header-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
/*=======================
Big Dream Section start
=======================*/
.big-dream {
  margin-top: 150px;
  background-image: url(images/half-ring.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dream-left {
  width: 50%;
  padding-left: 5%;
}
.dream-right {
  width: 50%;
  margin-right: 5%;
  margin-left: 40px;
  margin-top: 50px;
}
section {
  display: flex;
}
.dream-left img {
  width: 90%;
}
.btn-resume {
  text-decoration: none;
  background-image: linear-gradient(coral, tomato);
  padding: 10px 40px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.dream-right p {
  margin-right: 70px;
}
